.container
  %h2
    %b WAF IPSets
  %table.table
    %tr
      %th Name
      %th ID
      %th Type
      %th CIDR
    - @ipsets.each do |ip_set|
      %tr
        %td= link_to ip_set[:name], ipset_path(ip_set[:id])
        %td= ip_set[:id]
        %td
          - ip_set[:cidr].each do |e|
            = e.type if ip_set[:cidr].any?
            %br/
        %td
          - ip_set[:cidr].each do |e|
            = e.value if ip_set[:cidr].any?
            %br/

  %hr
  %div{:align => "right"}
    = link_to 'Add ipset', new_ipset_path, class: 'btn btn-success'
