.container
  %table.table
    %tr
      %th Name
      %th ID
      %th Type
      %th CIDR
    %tr
      %td= @ipset.ip_set.name
      %td= @ipset.ip_set.ip_set_id
      %td
        - @ipset.ip_set.ip_set_descriptors.each do |e|
          = e.type if @ipset.ip_set.ip_set_descriptors.any?
          %br/
      %td
        - @ipset.ip_set.ip_set_descriptors.each do |e|
          = e.value if @ipset.ip_set.ip_set_descriptors.any?
          %br/
    %hr

  %div{:align => "right"}
    = link_to 'Go back', :back, class: 'btn btn-primary'
    -#= link_to 'Delete', @ipset_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' # if current_user.admin?
    -#= link_to 'Edit', edit_ipset_path, class: 'btn btn-warning'

