.container
  %p.lead= "Edit webacl"
  %hr
  = form_tag("/webacls/#{params[:id]}", method: "patch") do
    .form-group
      / = hidden_field_tag 'all'
      = label_tag 'name', 'IPSet Name'
      = text_field_tag 'webacl[name]',  @webacl[:name], class: 'form-control'
      = label_tag 'webacl[templateid]', 'Template'
      = select_tag 'webacl[templateid]', options_for_select(@templates.collect {|hg| [ hg['name'], hg['templateid'] ] }, @webacl[:template_id]), class: 'form-control', :disabled => true
      = label_tag 'webacl[groupid]', 'IPSetgroup'
      = select_tag 'webacl[groupid]', options_for_select(@webaclgroups.collect {|hg| [ hg['name'], hg['groupid'] ] }, @webacl[:webaclgroup_id]), class: 'form-control'
      = label_tag 'ip', 'IP Address'
      = text_field_tag 'webacl[ip]',    @webacl[:ip], class: 'form-control'
      = label_tag 'dns', 'DNS Name'
      = text_field_tag 'webacl[dns]',   @webacl[:dns], class: 'form-control'
      = label_tag 'port', 'Port'
      = text_field_tag 'webacl[port]',  @webacl[:port], class: 'form-control'
      %div{:align => "right"}
        = label_tag 'useip', 'Use IP ?'
        = check_box_tag  'webacl[useip]', '1', true if @webacl[:useip] == '1'
        = check_box_tag  'webacl[useip]', '0', false if @webacl[:useip] == '0'
      %br/
      %hr

    .form-actions
      %div{:align => "right"}
        = link_to 'Go back', :back, class: 'btn btn-primary'
        = submit_tag("Update", class: 'btn btn-success')

