.container
  %table.table
    %tr
      %th Name
      %th ID
      %th IPSet Name
      %th IPSet ID
      %th IPSet CIDR
    %tr
      %td= @rule.rule.name
      %td= @rule.rule.rule_id
      %td
        - @ipsets.each do |e|
          = e.ip_set.name
          %br/
      %td
        - @ipsets.each do |e|
          = e.ip_set.ip_set_id
          %br/
      %td
        - @ipsets.each do |e|
          - if e.ip_set.ip_set_descriptors.any?
            - e.ip_set.ip_set_descriptors.each do |e|
              = e.value
              %br/
    %hr

  %div{:align => "right"}
    = link_to 'Go back', :back, class: 'btn btn-primary'
    -#= link_to 'Delete', @rule_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' # if current_user.admin?
    -#= link_to 'Edit', edit_rule_path, class: 'btn btn-warning'

